[project]
	description = MyProject SourceCoce and Documents
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sakthisgit
[access "refs/for/refs/*"]
	read = group user/sakthisgit
	push = group user/sakthisgit
	label-Code-Review = -2..+2 group user/sakthisgit
	label-Verified = -1..+1 group user/sakthisgit
	rebase = group user/sakthisgit
	removeReviewer = group user/sakthisgit
	submit = group user/sakthisgit
[access "refs/heads/*"]
	read = group user/sakthisgit
	create = group user/sakthisgit
	push = +force group user/sakthisgit
	pushMerge = group user/sakthisgit
[access "refs/tags/*"]
	push = +force group user/sakthisgit
	pushTag = group user/sakthisgit
	pushSignedTag = group user/sakthisgit
